<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>InvestmentPlatform</title>
</head>
<body>
    <h1>InvestmentPlatform</h1>
    <h2>
        Inscription
    </h2>

    <form id="loginForm">
        <input type="text" id="username" placeholder="Votre nom d'utilisateur" required>
        <input type="email" id="email" placeholder="Votre email" required>
        <input type="password" id="password" placeholder="Votre mot de passe" required>
        <button type="submit">Me connecter</button>
    </form>
</body>
</html>